.asset{
    width: 46%;
    max-width: 200px;
    margin-right: 5px;
    margin-top: 5px;
}

.asset img{

    width: 100%;
}

.assetLabel{
    width: 200px;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    margin: auto;
    justify-content: center;
}
